body {
  background-color: black;
  font-family: "Inconsolata", monospace;
  margin-left: 5px;
  padding-left: 0;
}

#intro {
  margin: 0;
  padding: 0;
}

.bigHead {
  color: #ff8a25;
  font-size: 2em;
  margin: 0;
  padding: 0;
}
.heads {
  color: #a2af9f;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.info {
  color: fuchsia;
}

#episodes {
}

.eps {
  color: #33ff33;
  width: fit-content;
}

.eps:hover {
  background-color: rgb(13, 44, 218);
}
