@font-face {
  font-family: "Torrefarfan";
  src: url("TorreFarfan_v2.ttf");
}

body {
  background-color: white;
  font-family: "Inconsolata", monospace;

  color: black;
}

#mainTitle {
  padding-top: 15px;
}

.bigHead {
  font-family: "Torrefarfan";

  margin-bottom: 0px;
  font-size: 4em;
  line-height: 1;
}

.epHead {
  font-family: "Torrefarfan";
  font-size: 4em;
}

.epMain {
  margin-left: 8px;
  margin-right: 8px;
}

#tagline {
  font-family: "Torrefarfan";
  margin-top: 0px;
  line-height: 0.5;
  margin-bottom: 8px;
}

.heads {
  font-size: 3em;
}

.eps {
  width: fit-content;
}

.eps:hover {
  background-color: rgb(13, 44, 218);
}

#epPage {
  margin-left: 25px;
}
